services:
  webhook:
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
      target: base
    image: sweepai/sweep
    container_name: webhook
    # network_mode: "host"
    volumes:
      - .:/app
      - /sweep_docs:/sweep_docs
    ports:
      - "${PORT:-8080}:${PORT:-8080}"
    command: >
      sh -c "echo PORT: ${PORT:-8080} && . bin/startup.sh"
    stdin_open: true
    tty: true
    environment:
      - PORT=${PORT:-8080}
    restart: unless-stopped
  # sandbox:
  #   build:
  #     context: sandbox
  #     dockerfile: Dockerfile.sandbox
  #   image: sweepai/sandbox
  #   container_name: sandbox
  #   scale: 0
  #   restart: unless-stopped
  # sandbox-web:
  #   env_file:
  #     - .env
  #   build:
  #     context: sandbox
  #     dockerfile: Dockerfile.web
  #   image: sweepai/sandbox-web
  #   container_name: sandbox-web
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #   ports:
  #     - 8081:8080
  #   restart: unless-stopped
  # minis3:
  #   build: minis3
  #   image: sweepai/minis3
  #   container_name: minis3
  #   ports:
  #     - "8082:8080"
  #   volumes:
  #     - ./public:/app/public
  #   restart: unless-stopped
  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    network_mode: host
    ports:
      - "9090:9090"
