services:
  webhook:
    env_file:
      - .env
    build:
      platforms:
      - 'linux/amd64'
      - 'linux/arm64'
      context: .
      dockerfile: Dockerfile
      target: base
    image: sweepai/sweep
    container_name: webhook
    # network_mode: "host"
    volumes:
      - .:/app
    command: >
      sh -c ". bin/startup.sh"
    stdin_open: true
    tty: true
    restart: unless-stopped
  hosted:
    env_file:
      - .env
    build:
      platforms:
      - 'linux/amd64'
      - 'linux/arm64'
      context: .
      dockerfile: Dockerfile.hosted
      target: base
    image: sweepai/sweep.hosted
    container_name: github_app
    # network_mode: "host"
    volumes:
      - .:/app
    # command: >
    #   sh -c ". bin/startup.sh"
    stdin_open: true
    tty: true
    restart: unless-stopped
    ports:
      - "${PORT:-8080}:8080"
    scale: 0
