version: '2'
services:
  webhook:
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
      target: base
    image: sweepai/sweep
    volumes:
      - .:/app
      - /tmp/sweep_docs:/sweep_docs
      - data:/app/data
    ports:
      - "${PORT:-8080}:${PORT:-8080}"
    command: >
      sh -c "echo PORT: ${PORT:-8080} && . bin/startup.sh"
    stdin_open: true
    tty: true
    links:
      - sandbox-web
    environment:
      - PORT=${PORT:-8080}
  sandbox:
    env_file:
      - .env
    build:
      context: sweepai/sandbox
      dockerfile: Dockerfile.sandbox
    image: sweepai/sandbox
    scale: 0
  sandbox-web:
    env_file:
      - .env
    build:
      context: sweepai/sandbox
      dockerfile: Dockerfile.web
    image: sweepai/sandbox-web
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 8081:8080


volumes:
  data:
