[tool.poetry]
name = "sweepai"
version = "0.5.2"
description = "Sweep software chores"
authors = ["Kevin Lu", "William Zeng", "Luke Jagg"]
packages = [{ include = "sweepai" }]
classifiers = ["Programming Language :: Python :: 3.10"]
readme = "README.md"

[tool.poetry.urls]
Repository = "https://github.com/sweepai/sweep"
"Community" = "https://discord.gg/sweep"
Documentation = "https://docs.sweep.dev"
Homepage = "https://sweep.dev"
"Bug Tracker" = "https://github.com/sweepai/sweep/issues"

[tool.poetry.dependencies]
python = "^3.10"
PyGithub = "1.58.2"
loguru = "^0.6.0"
requests = "^2.28.2"
urllib3 = "<2.0.0"
gradio = "^3.35.2"
config-path = "^1.0.3"
typer = "^0.9.0"
tabulate = "^0.9.0"
GitPython = "^3.1.31"
pyyaml = "^6.0"
pylint-pydantic = "^0.2.3"
llama-index = "^0.7.15"
greenlet = "2.0.1"
modal-client = "^0.51.3182"
markdownify = "^0.11.6"
playwright = "^1.30.0"
robotexclusionrulesparser = "^1.7.1"
deeplake = "^3.6.25"
geopy = "^2.3.0"
pre-commit = "^3.3.3"
rapidfuzz = "^3.2.0"
whoosh = "^2.7.4"
python-dotenv = "^1.0.0"
redis = "^5.0.0"
sentence_transformers = "2.2.2"
lxml = "4.9.3"
docker = "6.1.3"
celery = "^5.1.2"
fuzzywuzzy = "0.18.0"
python-Levenshtein = "0.21.1"
logtail-python = "^0.2.6"

# Backend dependencies
fastapi = "^0.94.1"
uvicorn = "^0.21.0"
openai = "^0.27.2"
pymongo = "^4.4.0"
tiktoken = "^0.3.2"
PyJWT = "^2.6.0"
backoff = "^2.2.1"
posthog = "^3.0.1"
tree-sitter = "^0.20.1"
tree-sitter-languages = "^1.7.0"
eventlet = "^0.33.3"
replicate = "0.15.4"
psutil = "^5.9.5"
yamllint = "^1.32.0"
graphviz = "^0.20.1"
torch = {version = "^2.1.0+cpu", source = "torch"}
baserun = "^0.6.0"
rope = "^1.10.0"

[tool.poetry.dev-dependencies]
pylint = "^2.17.4"
black = "^23.1.0"
commit5 = "^0.1.1"
jupyter = "^1.0.0"
ipykernel = "^6.23.1"
build = "^0.10.0"
flake8 = "^6.0.0"
nptyping = "^2.5.0"
pre-commit = "^3.2.0"


[[tool.poetry.source]]
name = "torch"
url = "https://download.pytorch.org/whl/cpu"
priority = "explicit"

[tool.isort]
profile = "black"

[tool.black]
string-normalization = false

[mypy]
check_untyped_defs = true

[tool.poetry.scripts]
sweep = "sweepai.app.cli:app"
sweepai = "sweepai.app.cli:app"

[tool.pylint.'MESSAGES CONTROL']

disable=[
  'no-name-in-module'
]
