[tool.poetry]
name = "sweep"
version = "0.1.0"
description = "sweep software chores"
authors = ["Kevin Lu"]

[tool.poetry.dependencies]
python = "^3.11"
openai = "^0.27.2"
python-dotenv = "^1.0.0"
fastapi = "^0.94.1"
uvicorn = "^0.21.0"
PyGithub = "^1.58.0"
loguru = "^0.6.0"
nptyping = "^2.5.0"
pre-commit = "^3.2.0"
requests = "^2.28.2"
types-requests = "^2.28.11.15"
tiktoken = "^0.3.2"
PyJWT = "^2.6.0"
docarray = "^0.21.0"
chromadb = "^0.3.21"
GitPython = "^3.1.31"
backoff = "^2.2.1"
anthropic = "^0.2.8"
tree-sitter = "^0.20.1"
highlight-io = "0.5.0"
posthog = "^3.0.1"
modal-client = "^0.49.2348"
urllib3 = "^2.0.3"
diskcache = "^5.6.1"
google-search-results = "^2.4.2"

[tool.poetry.dev-dependencies]
flake8 = "^6.0.0"
black = "^23.1.0"
pytest = "^7.2.2"
mypy = "^1.1.1"
commit5 = "^0.1.1"
jupyter = "^1.0.0"
ipykernel = "^6.23.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[mypy]
check_untyped_defs = true