aioboto3==11.3.0 ; python_version >= "3.11" and python_version < "4.0" and sys_platform != "win32"
aiobotocore[boto3]==2.6.0 ; python_version >= "3.11" and python_version < "4.0" and sys_platform != "win32"
aiofiles==23.2.1 ; python_version >= "3.11" and python_version < "4.0"
aiohttp==3.8.5 ; python_version >= "3.11" and python_version < "4.0"
aioitertools==0.11.0 ; python_version >= "3.11" and python_version < "4.0" and sys_platform != "win32"
aiosignal==1.3.1 ; python_version >= "3.11" and python_version < "4.0"
aiostream==0.4.5 ; python_version >= "3.11" and python_version < "4.0"
altair==5.1.1 ; python_version >= "3.11" and python_version < "4.0"
amqp==5.1.1 ; python_version >= "3.11" and python_version < "4.0"
anthropic==0.2.10 ; python_version >= "3.11" and python_version < "4.0"
anyio==4.0.0 ; python_version >= "3.11" and python_version < "4.0"
asgiref==3.7.2 ; python_version >= "3.11" and python_version < "4.0"
astroid==2.15.6 ; python_version >= "3.11" and python_version < "4.0"
async-timeout==4.0.3 ; python_version >= "3.11" and python_version < "4.0"
attrs==23.1.0 ; python_version >= "3.11" and python_version < "4.0"
backoff==2.2.1 ; python_version >= "3.11" and python_version < "4.0"
beautifulsoup4==4.12.2 ; python_version >= "3.11" and python_version < "4.0"
billiard==4.1.0 ; python_version >= "3.11" and python_version < "4.0"
boto3==1.28.17 ; python_version >= "3.11" and python_version < "4.0"
botocore==1.31.17 ; python_version >= "3.11" and python_version < "4.0"
celery==5.3.4 ; python_version >= "3.11" and python_version < "4.0"
certifi==2023.7.22 ; python_version >= "3.11" and python_version < "4.0"
cffi==1.15.1 ; python_version >= "3.11" and python_version < "4.0"
cfgv==3.4.0 ; python_version >= "3.11" and python_version < "4.0"
charset-normalizer==3.2.0 ; python_version >= "3.11" and python_version < "4.0"
click-didyoumean==0.3.0 ; python_version >= "3.11" and python_version < "4.0"
click-plugins==1.1.1 ; python_version >= "3.11" and python_version < "4.0"
click-repl==0.3.0 ; python_version >= "3.11" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.11" and python_version < "4.0"
cloudpickle==2.2.1 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows")
config-path==1.0.3 ; python_version >= "3.11" and python_version < "4.0"
contourpy==1.1.0 ; python_version >= "3.11" and python_version < "4.0"
cryptography==41.0.3 ; python_version >= "3.11" and python_version < "4.0"
cycler==0.11.0 ; python_version >= "3.11" and python_version < "4.0"
dataclasses-json==0.5.9 ; python_version >= "3.11" and python_version < "4.0"
deeplake==3.6.22 ; python_version >= "3.11" and python_version < "4.0"
deprecated==1.2.14 ; python_version >= "3.11" and python_version < "4.0"
dill==0.3.7 ; python_version >= "3.11" and python_version < "4.0"
distlib==0.3.7 ; python_version >= "3.11" and python_version < "4.0"
dnspython==2.4.2 ; python_version >= "3.11" and python_version < "4.0"
docker==6.1.3 ; python_version >= "3.11" and python_version < "4.0"
entrypoints==0.4 ; python_version >= "3.11" and python_version < "4.0"
fastapi==0.94.1 ; python_version >= "3.11" and python_version < "4.0"
ffmpy==0.3.1 ; python_version >= "3.11" and python_version < "4.0"
filelock==3.12.3 ; python_version >= "3.11" and python_version < "4.0"
fonttools==4.42.1 ; python_version >= "3.11" and python_version < "4.0"
frozenlist==1.4.0 ; python_version >= "3.11" and python_version < "4.0"
fsspec==2023.9.0 ; python_version >= "3.11" and python_version < "4.0"
geographiclib==2.0 ; python_version >= "3.11" and python_version < "4.0"
geopy==2.4.0 ; python_version >= "3.11" and python_version < "4.0"
gitdb==4.0.10 ; python_version >= "3.11" and python_version < "4.0"
gitpython==3.1.34 ; python_version >= "3.11" and python_version < "4.0"
googleapis-common-protos==1.60.0 ; python_version >= "3.11" and python_version < "4.0"
gradio-client==0.5.0 ; python_version >= "3.11" and python_version < "4.0"
gradio==3.42.0 ; python_version >= "3.11" and python_version < "4.0"
greenlet==2.0.1 ; python_version >= "3.11" and python_version < "4.0"
grpcio==1.57.0 ; python_version >= "3.11" and python_version < "4.0"
grpclib==0.4.3 ; python_version >= "3.11" and python_version < "4.0"
h11==0.14.0 ; python_version >= "3.11" and python_version < "4.0"
h2==4.1.0 ; python_version >= "3.11" and python_version < "4.0"
highlight-io==0.6.0 ; python_version >= "3.11" and python_version < "4.0"
hpack==4.0.0 ; python_version >= "3.11" and python_version < "4.0"
httpcore==0.17.3 ; python_version >= "3.11" and python_version < "4.0"
httpx==0.24.1 ; python_version >= "3.11" and python_version < "4.0"
huggingface-hub==0.16.4 ; python_version >= "3.11" and python_version < "4.0"
humbug==0.3.2 ; python_version >= "3.11" and python_version < "4.0"
hyperframe==6.0.1 ; python_version >= "3.11" and python_version < "4.0"
identify==2.5.27 ; python_version >= "3.11" and python_version < "4.0"
idna==3.4 ; python_version >= "3.11" and python_version < "4.0"
importlib-metadata==6.8.0 ; python_version >= "3.11" and python_version < "4.0"
importlib-resources==6.0.1 ; python_version >= "3.11" and python_version < "4.0"
isort==5.12.0 ; python_version >= "3.11" and python_version < "4.0"
jinja2==3.1.2 ; python_version >= "3.11" and python_version < "4.0"
jmespath==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
joblib==1.3.2 ; python_version >= "3.11" and python_version < "4.0"
jsonschema-specifications==2023.7.1 ; python_version >= "3.11" and python_version < "4.0"
jsonschema==4.19.0 ; python_version >= "3.11" and python_version < "4.0"
kiwisolver==1.4.5 ; python_version >= "3.11" and python_version < "4.0"
kombu==5.3.2 ; python_version >= "3.11" and python_version < "4.0"
langchain==0.0.279 ; python_version >= "3.11" and python_version < "4.0"
langsmith==0.0.33 ; python_version >= "3.11" and python_version < "4.0"
lazy-object-proxy==1.9.0 ; python_version >= "3.11" and python_version < "4.0"
llama-index==0.7.24.post1 ; python_version >= "3.11" and python_version < "4.0"
loguru==0.6.0 ; python_version >= "3.11" and python_version < "4.0"
lxml==4.9.3 ; python_version >= "3.11" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "4.0"
markdownify==0.11.6 ; python_version >= "3.11" and python_version < "4.0"
markupsafe==2.1.3 ; python_version >= "3.11" and python_version < "4.0"
marshmallow-enum==1.5.1 ; python_version >= "3.11" and python_version < "4.0"
marshmallow==3.20.1 ; python_version >= "3.11" and python_version < "4.0"
matplotlib==3.7.2 ; python_version >= "3.11" and python_version < "4.0"
mccabe==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "4.0"
modal-client==0.51.3298 ; python_version >= "3.11" and python_version < "4.0"
modal==0.51.3298 ; python_version >= "3.11" and python_version < "4.0"
monotonic==1.6 ; python_version >= "3.11" and python_version < "4.0"
mpmath==1.3.0 ; python_version >= "3.11" and python_version < "4.0"
multidict==6.0.4 ; python_version >= "3.11" and python_version < "4.0"
multiprocess==0.70.15 ; python_version >= "3.11" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
nest-asyncio==1.5.7 ; python_version >= "3.11" and python_version < "4.0"
networkx==3.1 ; python_version >= "3.11" and python_version < "4.0"
nltk==3.8.1 ; python_version >= "3.11" and python_version < "4.0"
nodeenv==1.8.0 ; python_version >= "3.11" and python_version < "4.0"
numcodecs==0.11.0 ; python_version >= "3.11" and python_version < "4.0"
numexpr==2.8.5 ; python_version >= "3.11" and python_version < "4.0"
numpy==1.25.2 ; python_version >= "3.11" and python_version < "4.0"
openai==0.27.10 ; python_version >= "3.11" and python_version < "4.0"
opentelemetry-api==1.19.0 ; python_version >= "3.11" and python_version < "4.0"
opentelemetry-distro[otlp]==0.40b0 ; python_version >= "3.11" and python_version < "4.0"
opentelemetry-exporter-otlp-proto-common==1.19.0 ; python_version >= "3.11" and python_version < "4.0"
opentelemetry-exporter-otlp-proto-grpc==1.19.0 ; python_version >= "3.11" and python_version < "4.0"
opentelemetry-exporter-otlp-proto-http==1.19.0 ; python_version >= "3.11" and python_version < "4.0"
opentelemetry-exporter-otlp==1.19.0 ; python_version >= "3.11" and python_version < "4.0"
opentelemetry-instrumentation-logging==0.40b0 ; python_version >= "3.11" and python_version < "4.0"
opentelemetry-instrumentation==0.40b0 ; python_version >= "3.11" and python_version < "4.0"
opentelemetry-proto==1.19.0 ; python_version >= "3.11" and python_version < "4.0"
opentelemetry-sdk==1.19.0 ; python_version >= "3.11" and python_version < "4.0"
opentelemetry-semantic-conventions==0.40b0 ; python_version >= "3.11" and python_version < "4.0"
orjson==3.9.5 ; python_version >= "3.11" and python_version < "4.0"
packaging==23.1 ; python_version >= "3.11" and python_version < "4.0"
pandas==2.1.0 ; python_version >= "3.11" and python_version < "4.0"
pathos==0.3.1 ; python_version >= "3.11" and python_version < "4.0"
pillow==10.0.0 ; python_version >= "3.11" and python_version < "4.0"
platformdirs==3.10.0 ; python_version >= "3.11" and python_version < "4.0"
playwright==1.33.0 ; python_version >= "3.11" and python_version < "4.0"
posthog==3.0.2 ; python_version >= "3.11" and python_version < "4.0"
pox==0.3.3 ; python_version >= "3.11" and python_version < "4.0"
ppft==1.7.6.7 ; python_version >= "3.11" and python_version < "4.0"
pre-commit==3.4.0 ; python_version >= "3.11" and python_version < "4.0"
prompt-toolkit==3.0.39 ; python_version >= "3.11" and python_version < "4.0"
protobuf==4.24.2 ; python_version >= "3.11" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.11" and python_version < "4.0"
pydantic==1.10.12 ; python_version >= "3.11" and python_version < "4.0"
pydub==0.25.1 ; python_version >= "3.11" and python_version < "4.0"
pyee==9.0.4 ; python_version >= "3.11" and python_version < "4.0"
pygithub==1.58.2 ; python_version >= "3.11" and python_version < "4.0"
pygments==2.16.1 ; python_version >= "3.11" and python_version < "4.0"
pyjwt==2.8.0 ; python_version >= "3.11" and python_version < "4.0"
pyjwt[crypto]==2.8.0 ; python_version >= "3.11" and python_version < "4.0"
pylint-plugin-utils==0.8.2 ; python_version >= "3.11" and python_version < "4.0"
pylint-pydantic==0.2.4 ; python_version >= "3.11" and python_version < "4.0"
pylint==2.17.5 ; python_version >= "3.11" and python_version < "4.0"
pymongo==4.5.0 ; python_version >= "3.11" and python_version < "4.0"
pynacl==1.5.0 ; python_version >= "3.11" and python_version < "4.0"
pyparsing==3.0.9 ; python_version >= "3.11" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.11" and python_version < "4.0"
python-dotenv==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
python-multipart==0.0.6 ; python_version >= "3.11" and python_version < "4.0"
pytz==2023.3 ; python_version >= "3.11" and python_version < "4.0"
pywin32==306 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
pyyaml==6.0.1 ; python_version >= "3.11" and python_version < "4.0"
rapidfuzz==3.2.0 ; python_version >= "3.11" and python_version < "4.0"
redis==5.0.0 ; python_version >= "3.11" and python_version < "4.0"
referencing==0.30.2 ; python_version >= "3.11" and python_version < "4.0"
regex==2023.8.8 ; python_version >= "3.11" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.11" and python_version < "4.0"
rich==13.5.2 ; python_version >= "3.11" and python_version < "4.0"
robotexclusionrulesparser==1.7.1 ; python_version >= "3.11" and python_version < "4.0"
rpds-py==0.10.0 ; python_version >= "3.11" and python_version < "4.0"
s3transfer==0.6.2 ; python_version >= "3.11" and python_version < "4.0"
safetensors==0.3.3 ; python_version >= "3.11" and python_version < "4.0"
scikit-learn==1.3.0 ; python_version >= "3.11" and python_version < "4.0"
scipy==1.9.3 ; python_version >= "3.11" and python_version < "4.0"
semantic-version==2.10.0 ; python_version >= "3.11" and python_version < "4.0"
sentence-transformers==2.2.2 ; python_version >= "3.11" and python_version < "4.0"
sentencepiece==0.1.99 ; python_version >= "3.11" and python_version < "4.0"
setuptools==68.1.2 ; python_version >= "3.11" and python_version < "4.0"
sigtools==4.0.1 ; python_version >= "3.11" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.11" and python_version < "4.0"
smmap==5.0.0 ; python_version >= "3.11" and python_version < "4.0"
sniffio==1.3.0 ; python_version >= "3.11" and python_version < "4.0"
soupsieve==2.5 ; python_version >= "3.11" and python_version < "4.0"
sqlalchemy==2.0.20 ; python_version >= "3.11" and python_version < "4.0"
starlette==0.26.1 ; python_version >= "3.11" and python_version < "4.0"
sympy==1.12 ; python_version >= "3.11" and python_version < "4.0"
synchronicity==0.5.3 ; python_version >= "3.11" and python_version < "4.0"
tabulate==0.9.0 ; python_version >= "3.11" and python_version < "4.0"
tblib==2.0.0 ; python_version >= "3.11" and python_version < "4.0"
tenacity==8.2.3 ; python_version >= "3.11" and python_version < "4.0"
threadpoolctl==3.2.0 ; python_version >= "3.11" and python_version < "4.0"
tiktoken==0.3.3 ; python_version >= "3.11" and python_version < "4.0"
tokenizers==0.13.3 ; python_version >= "3.11" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.11" and python_version < "4.0"
tomlkit==0.12.1 ; python_version >= "3.11" and python_version < "4.0"
toolz==0.12.0 ; python_version >= "3.11" and python_version < "4.0"
torch==2.0.1 ; python_version >= "3.11" and python_version < "4.0"
torchvision==0.15.2 ; python_version >= "3.11" and python_version < "4.0"
tqdm==4.66.1 ; python_version >= "3.11" and python_version < "4.0"
transformers==4.32.1 ; python_version >= "3.11" and python_version < "4.0"
typer==0.9.0 ; python_version >= "3.11" and python_version < "4.0"
types-certifi==2021.10.8.3 ; python_version >= "3.11" and python_version < "4.0"
types-toml==0.10.8.7 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.7.1 ; python_version >= "3.11" and python_version < "4.0"
typing-inspect==0.9.0 ; python_version >= "3.11" and python_version < "4.0"
tzdata==2023.3 ; python_version >= "3.11" and python_version < "4.0"
urllib3==1.26.16 ; python_version >= "3.11" and python_version < "4.0"
uvicorn==0.21.1 ; python_version >= "3.11" and python_version < "4.0"
vine==5.0.0 ; python_version >= "3.11" and python_version < "4.0"
virtualenv==20.24.4 ; python_version >= "3.11" and python_version < "4.0"
watchfiles==0.20.0 ; python_version >= "3.11" and python_version < "4.0"
wcwidth==0.2.6 ; python_version >= "3.11" and python_version < "4.0"
websocket-client==1.6.2 ; python_version >= "3.11" and python_version < "4.0"
websockets==11.0.3 ; python_version >= "3.11" and python_version < "4.0"
whoosh==2.7.4 ; python_version >= "3.11" and python_version < "4.0"
win32-setctime==1.1.0 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
wrapt==1.15.0 ; python_version >= "3.11" and python_version < "4.0"
yarl==1.9.2 ; python_version >= "3.11" and python_version < "4.0"
zipp==3.16.2 ; python_version >= "3.11" and python_version < "4.0"
