body {
    font-family: Arial, sans-serif;
}

form {
    margin: 0 auto;
    width: 300px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form input {
    margin-bottom: 1em;
    padding: .25em;
    border: 1px solid #CCC;
    border-radius: .25em;
}

form input[type="submit"] {
    padding: 1em;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: .25em;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

h1 {
    text-align: center;
    font-size: 2em;
}