name: Cypress Tests

on:
  pull_request:
    branches:
      - main
      - dev
  push:
    branches:
      - main

jobs:
  e2e:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        browser: [chrome]
        node: [18, 20, 21]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Install pnpm
        run: npm install -g pnpm
      - name: Write to .env
        run: echo "OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }}\NEXT_PUBLIC_NO_TELEMETRY=true" >> platform/.env
      - name: Cypress run
        if: ${{ !(matrix.os == 'ubuntu-latest' && matrix.browser == 'safari') }}
        uses: cypress-io/github-action@v6
        with:
          build: pnpm run build
          start: pnpm start
          browser: ${{ matrix.browser }}
          wait-on: 'http://localhost:4000' # Waits for above
          record: true
          working-directory: platform
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
