name: e2e Tests

on:
  pull_request:
    branches:
      - main
      - dev
    paths:
      - 'sweepai/**'
  push:
    branches:
      - main
    paths:
      - 'sweepai/**'


jobs:
  unittest:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.10"]
        # os: [ubuntu-latest, macos-latest]
        os: [ubuntu-latest]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          poetry install

      # apparently installing redis-server runs it automatically
      - name: Set up Redis
        run: |
          sudo apt-get update; sudo apt-get install redis-server;
          sudo lsof -i :6379 || true
      #     redis-server redis.conf --bind 0.0.0.0 --port 6379;

      - name: Run e2e test
        env:
          GITHUB_PAT: ${{ secrets.GH_PAT }}
          GITHUB_APP_ID: ${{ secrets.GH_APP_ID }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          GITHUB_APP_PEM: ${{ secrets.GH_APP_PEM }}
          OPENAI_API_TYPE: azure
          OPENAI_API_BASE: ${{ secrets.GH_OPENAI_API_BASE }}
          OPENAI_API_VERSION: 2024-02-15-preview
          AZURE_API_KEY: ${{ secrets.GH_AZURE_API_KEY }}
          AZURE_OPENAI_DEPLOYMENT: ${{ secrets.GH_AZURE_OPENAI_DEPLOYMENT }}
        run: poetry run pytest -n 4 tests/e2e -s
        timeout-minutes: 15
