name: NPM Publish

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
      with:
        working-directory: ./platform
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18'
        working-directory: ./platform
    - name: Install pnpm
      run: npm install -g pnpm
      working-directory: ./platform
    - name: Cache node modules
      uses: actions/cache@v2
      env:
        cache-name: cache-node-modules
      with:
        path: ~/.pnpm
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-
    - name: Install dependencies
      run: pnpm install
      working-directory: ./platform
    - name: Bump version and push tag
      uses: phips28/gh-action-bump-version@master
      with:
        tag-prefix: ''
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Publish to NPM
      run: pnpm publish
      working-directory: ./platform
      env:
        NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
