name: Python CI All

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - main
      - dev
    paths:
      - 'sweepai/**'
      - 'tests/**'
  push:
    branches:
      - main
      - dev
    paths:
      - 'sweepai/**'
      - 'tests/**'

jobs:
  code-quality:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
        # python-version: ["3.10", "3.11"]
        os: [ubuntu-latest]
    outputs:
      cache-key: ${{ steps.cache-dependencies.outputs.cache-key }}
    steps:
      - uses: actions/checkout@v3
      - name: Load environment variables
        env:
          ENV_VARS: ${{ secrets.GH_ALL_AZURE }}
        run: |
          echo "$ENV_VARS" | while IFS= read -r line; do
            if [[ "$line" == *":"* ]]; then
              var_name=$(echo "$line" | cut -d'=' -f1)
              var_value=$(echo "$line" | cut -d'=' -f2-)
              echo "$var_name=$var_value" >> $GITHUB_ENV
            fi
          done
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.67.0
          override: true
      - uses: Swatinem/rust-cache@v1
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - run: echo "VIRTUAL_ENV=${Python_ROOT_DIR}" >> $GITHUB_ENV
        # if: steps.restore-dependencies.outputs.cache-hit != 'true'
      - run: pip install uv
        # if: steps.restore-dependencies.outputs.cache-hit != 'true'
      - run: uv pip install -r requirements.txt
        # if: steps.restore-dependencies.outputs.cache-hit != 'true'
      - run: uv pip install ruff pylint pytest pytest-xdist black
        # if: steps.restore-dependencies.outputs.cache-hit != 'true'
      - name: Format with Black
        run: black sweepai

      - name: Lint with Ruff
        run: ruff check sweepai

      - name: Lint with Pylint
        run: pylint sweepai --errors-only

      - name: Run Unit Tests
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        run: python -m unittest sweepai/**/*_test.py

  e2e-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
        # python-version: ["3.10", "3.11"]
        os: [ubuntu-latest]
    outputs:
      cache-key: ${{ steps.cache-dependencies.outputs.cache-key }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.67.0
          override: true
      - uses: Swatinem/rust-cache@v1
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - run: echo "VIRTUAL_ENV=${Python_ROOT_DIR}" >> $GITHUB_ENV
        # if: steps.restore-dependencies.outputs.cache-hit != 'true'
      - run: pip install uv
        # if: steps.restore-dependencies.outputs.cache-hit != 'true'
      - run: uv pip install -r requirements.txt
        # if: steps.restore-dependencies.outputs.cache-hit != 'true'
      - run: uv pip install ruff pylint pytest pytest-xdist black
        # if: steps.restore-dependencies.outputs.cache-hit != 'true'
      - name: Set up Redis (for e2e tests)
        run: |
          sudo apt-get update
          sudo apt-get install redis-server
          sudo lsof -i :6379 || true

      - name: Run e2e Tests
        env:
          MONGODB_URI: ${{ secrets.MONGODB_URI }}
          GITHUB_PAT: ${{ secrets.GH_PAT }}
          GITHUB_APP_PEM: ${{ secrets.GH_APP_PEM }}
        run: PYTHONPATH=. pytest -n 4 tests/e2e -s
        timeout-minutes: 30
