name: Python Unit Tests

on:
  pull_request:
    branches:
      - main
      - dev
  push:
    branches:
      - main

jobs:
  pylint:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]
        # os: [ubuntu-latest, macos-latest]
        os: [ubuntu-latest]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      # - name: Cache Python dependencies
      #   uses: actions/cache@v2
      #   with:
      #     path: ~/.cache/pypoetry
      #     key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}-${{ hashFiles('**/pyproject.toml') }}
      #     restore-keys: |
      #       ${{ runner.os }}-poetry-

      - name: Install dependencies
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          poetry install

      - name: Run unittest
        run: poetry run python -m unittest sweepai/**/*_test.py
